body {
    font-family: 'Poppins', sans-serif;
}

.container {
    margin: 0 auto;
    width: 90%;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.text-center {
    text-align: center;
}

.columna {
    background: rgb(113, 115, 116);
    color: #333;
    border: 1px solid #333;
    margin: 0 auto;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 10px 10px 5px grey;
    width: 23%;
    box-sizing: border-box;
}

.precio {
    font-size: 50px;
    color: aqua;
}

.oferta {
    font-size: 20px;
    color: blue;
}

.btn-precio {
    background: salmon;
    display: block;
    padding: 10px;
    color: beige;
    text-decoration: none;
    border-radius: 3px;
    margin-bottom: 10px;
}

.btn-precio:hover {
    background: chocolate;
}

@media (max-width: 1070px) {
    .columna {
        width: 45%;
        margin-bottom: 20px;
    }
}

@media (max-width: 600px) {
    .columna {
        width: 100%;
        margin-bottom: 20px;
    }
}

.columna1 {
    background: rgb(25, 131, 184);
    color: #333;
    border: 1px solid #333;
    margin-bottom: 30px;
    padding: 50px 400px 50px 400px;
    border-radius: 15px;
    box-shadow: 10px 10px 5px grey;
}

.columna2 {
    background: rgb(144, 168, 79);
    color: #333;
    border: 1px solid #333;
    margin-bottom: 30px;
    padding: 50px 400px 50px 400px;
    border-radius: 15px;
    box-shadow: 10px 10px 5px grey;
}

.columna3 {
    background: rgb(223, 87, 139);
    color: #333;
    border: 1px solid #333;
    margin-bottom: 30px;
    padding: 50px 400px 50px 400px;
    border-radius: 15px;
    box-shadow: 10px 10px 5px grey;
}

.columna4 {
    background: rgb(134, 120, 214);
    color: #333;
    border: 1px solid #333;
    margin-bottom: 30px;
    padding: 50px 400px 50px 400px;
    border-radius: 15px;
    box-shadow: 10px 10px 5px grey;
}